.navbar {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 2px solid #fff;
}

.navbar-brand {
    font-size: 3em;
    color: #fff !important;
}

ul.horizontal-list {
    list-style: none;
}

ul.horizontal-list li {
    display: inline-block;
}

ul.horizontal-list li {
    padding: 0 0.5rem;
}

.nav-link:hover {
    font-weight: bold;
}

.navbar{
    background-color: rgb(145, 25, 145);
}

a {
    text-decoration: none;
  }