ul.uldiv {
    list-style: none;

}

.uldiv li {
    display: inline-block;
    padding: 3.5rem;
}

img {
    width: 300px;
    height: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
}

.box {
    inline-size: 150px;
    overflow-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}


.row {
    inline-size: 150px;
    overflow-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    word-break: break-all;
    white-space: normal;

}